.box {
  background-color: white;
  width: 1500px;
  border: 20px solid #c8102e;
  padding: 50px;
  margin: 20px;
}

h1 {
  text-align: center;
  font-style: italic;
  text-decoration: underline #c8102e;
}

table {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

table,
td {
  border: 1px black solid;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  color: black;
}

td {
  padding: 50px;
  text-align: center;
  width: 100px;
}

td > .cell {
  position: relative;
  padding: 10px;
}

.day {
  position: absolute;
  top: -40px;
  left: -40px;
  padding: 0px 3px;
}

td.homegame {
  background-color: #0033a0;
  color: white;
}

td.awaygame {
  background-color: #c8102e;
  color: white;
}

td.weekdays {
  padding: 10px;
  font-weight: bolder;
}

h3 {
  text-align: left;
}

h3.blue {
  color: #0033a0;
}

h3.red {
  color: #c8102e;
}

h2 {
  text-decoration: underline black;
}
